<!-- THIS IS ONLY USED FOR INDEX -->

<div class="header">
    <div class="brand">Pokémon SDK Wiki</div>
    <ul class="site_links">
        <li><a href="en/manage/install.md">Install</a></li>
    </ul>
    <div class="credits"><a href="en/./credits.md">Credits</a></div>
</div>