/* classic dropdowns */
details.dropdown {
    display: inline-block;
    user-select: none;
    position: relative;
}

details.dropdown > summary::-webkit-details-marker {
    display: none;
}

details.dropdown > summary::after {
    content: "⯆";
}

details.on_top > summary::after {
    content: "▲";
}

details.dropdown > summary {
    display: inline-block;
    background-color: #FFD0D0;
    border: solid 1px #D09090;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

details.dropdown > summary + div {
    position: absolute;
    width: max-content;
    display: inline-block;
    background-color: #FFFFD0;
    border: solid 1px #D0D090;
    border-radius: 0.25rem;
    margin-top: 0.125rem;
    z-index: 9999;
}

details.on_top > summary + div {
    bottom: 2rem;
}

details.dropdown a {
    padding: 0.5rem;
    text-decoration: none;
    display: block;
}

details.dropdown a:hover, details.dropdown details:hover {
    background-color: #D0D090;
}

/* internal dropdowns */
details.dropdown details.dropdown {
    display: block;
    padding: 0.5rem 0;
}

details.dropdown details.dropdown > summary::after {
    content: none;
}

details.dropdown details.dropdown > summary::before {
    content: "⯆";
    position: relative;
    margin-right: -0.9rem;
    top: -0.125rem;
    left: calc(100% - 1rem);
}

details.dropdown details.dropdown > summary {
    display: block;
    background-color: inherit;
    border: inherit;
    border-radius: 0;
    padding: 0;
}