section.wiki {
    display: grid;
    grid-template-areas: "ah ah ah"
                         "0 ar nv"
                         "af af af";
    grid-template-columns: auto minmax(0, 800px) minmax(25%, 250px);
}

section.wiki nav.article_header_nav,
section.wiki nav.article_footer_nav {
    grid-area: ah;
    display: grid;
    grid-template-areas: "prev select next"
                         "lang lang lang";
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: max-content max-content;
}

section.wiki nav.article_header_nav div.previous_article,
section.wiki nav.article_footer_nav div.previous_article {
    display: flex;
    grid-area: prev;
    padding: 0.25rem;
    justify-content: flex-end;
    align-items: center;
}

section.wiki nav.article_header_nav div.article_selection,
section.wiki nav.article_footer_nav div.article_selection {
    grid-area: select;
    padding: 0.25rem;
}

section.wiki nav.article_header_nav div.next_article,
section.wiki nav.article_footer_nav div.next_article {
    display: flex;
    grid-area: next;
    padding: 0.25rem;
    align-items: center;
}

section.wiki nav.article_header_nav div.language_selection {
    grid-area: lang;
    text-align: center;
    padding: 0.25rem;
}

section.wiki nav.article_footer_nav {
    grid-area: af;
}

section.wiki nav.article_nav {
    grid-area: nv;
    margin: 0 0.5rem 0 0.25rem;
    padding: 0.5rem;
}

section.wiki nav.article_nav > ul {
    max-height: calc(100vh - 10rem);
    overflow: auto;
    position: fixed;
    margin-top: 2rem;
    padding-inline-start: 0;
    background-color: var(--generic-bg);
    border: 1px solid var(--generic-border);
    border-radius: 0.25rem;
    padding: 0.25rem;
    min-width: 250px;
}

section.wiki nav.article_nav li {
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--generic-border);
}

section.wiki nav.article_nav li > ul > li:first-child {
    border-top: 1px solid var(--generic-border);
}

section.wiki nav.article_nav li:last-child {
    border: none;
}

section.wiki nav.article_nav > h2 {
    position: fixed;
    margin: 0;
}

section.wiki article {
    grid-area: ar;
}

figure.center {
    margin: 0.5rem auto 0.5rem auto;
    max-width: 50%;
    width: fit-content;
    text-align: center;
}

figure.left {
    margin: 0 0.5rem 0 0.5rem;
    float: left;
    max-width: 25%;
}

figure.right {
    margin: 0 0.5rem 0 0.5rem;
    float: right;
    max-width: 25%;
}

/* Header section */

div.header {
    background-color: var(--generic-bg);
    border-bottom: 1px solid var(--generic-border);
    height: 2rem;
    display: grid;
    grid-template-areas: "brand links credits";
    grid-template-columns: max-content auto max-content;
}

div.header ul.site_links {
    margin: 0;
    padding: 0;
    height: 2rem;
}

div.header ul.site_links > li > a {
    line-height: 2rem;
}

div.header ul.site_links li {
    display: inline-block;
    list-style-type: none;
}

div.header div.credits {
    display: inline-grid;
    align-content: center;
    font-weight: bold;
    margin: 0 0.5rem 0 0.5rem;
    height: 2rem;
}

/* Footer section */

div.footer {
    display: grid;
    grid-template-areas: "0 copy ph";
    grid-template-columns: 1fr max-content 1fr;
}

div.footer div.copy {
    grid-area: copy;
    display: flex;
    align-items: flex-end;
}

div.footer div.copy p {
    margin: 0.25rem 0 0 0;
}

div.footer div.ph {
    grid-area: ph;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: inherit;
}

/* Dropdown */

details.dropdown > summary + div {
    background-color: white;
    border-color: var(--generic-bg);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

details.dropdown a:hover, details.dropdown details:hover {
    background-color: var(--generic-bg);
}